snippet     larrow
abbr        ←
  ←

snippet     rarrow
abbr        →
  →

snippet n1
abbr Ⅰ
  Ⅰ
snippet n2
abbr Ⅱ
  Ⅱ
snippet n3
abbr Ⅲ
  Ⅲ
snippet n4
abbr Ⅳ
  Ⅳ
snippet n5
abbr Ⅴ
  Ⅴ
snippet n6
abbr Ⅵ
  Ⅵ
snippet n7
abbr Ⅶ
  Ⅶ
snippet n8
abbr Ⅷ
  Ⅷ
snippet n9
abbr Ⅸ
  Ⅸ
snippet n10
abbr Ⅹ
  Ⅹ
